@font-face {
  font-family: 'Overlock-Regular';
  src: url('Overlock-Regular.eot?#iefix') format('embedded-opentype'),  url('Overlock-Regular.woff') format('woff'), url('Overlock-Regular.ttf')  format('truetype'), url('Overlock-Regular.svg#Overlock-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'ArchitectsDaughter-Regular';
  src: url('ArchitectsDaughter-Regular.eot?#iefix') format('embedded-opentype'),  url('ArchitectsDaughter-Regular.woff') format('woff'), url('ArchitectsDaughter-Regular.ttf')  format('truetype'), url('ArchitectsDaughter-Regular.svg#ArchitectsDaughter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
